# <h1><center>PYTHON</center></h1>

* Python is a scripting language
* Easy to understand 
* Object oriented programming language
* it contains so many built in functions and libraries

## Variable :

Storing some value or some data to the reference is know as variable.

### Syntax :
           A = 10         A is Reference and 10 is data(value)
           B = 2.5
           C = True
           D = 3 + 2j
           E = "hero"

### Example

In [10]:
A = 10

In [11]:
A

10

### Local variable and Global Variable

* variable which declare inside the method is called local varaible
* variable which declare outside the method is called global varaible

In [279]:
A = 10     # Global variable
def sun():
    B = 20 # local variable

## Type() :

 Type() function is used to find the data type of the reference variable

### Syntax :
                type(Variable name)

### Example

In [16]:
type(A)

int

## Type Casting :

Conversion of one data type into another data type is called Type casting

### Syntax :
                datatype(variable name)

### Example

* conversion of integer to string

In [29]:
str(A)

'10'

* conversion of float to integer

In [30]:
B = 2.5   ## B reference contains float value(2.5)

int(B)

2

## Indexing :

Accessing character or data from the string or other data types we use index technique

### Syntax

             * Data type[ Index number ]

### Example

* Example 1 : Accessing 1st index values from 'Data Science word'

In [33]:
A = "Data Science"

A[1]     # Positive indexing

'a'

* it's positive indexing we can see negative index also

In [34]:
A[-1]  # Negative Indexing

'e'

## Slicing

* Accessing data from one point to another

In [37]:
A[1:12]

'ata Science'

* we can also access the data from reverse direction using slicing concept

In [43]:
A[-1:-13:-1]  # [ Start Point : End Point : Jumping value ]

'ecneicS ataD'

In [44]:
A[1:12:2]

'aaSine'

In [41]:
A[-13:-1]

'Data Scienc'

In [53]:
A[1:-12:-1]  # -1-1 = 2 soo D[a]ta Science word in 2nd negative index

'a'

## Concantenation

Merging two value into one value is called concantenation

In [61]:
A = "Anil"
B = "Lava Kumar"

* We use " + " operator to perform concantenation function

In [55]:
A + B

'AnilLava Kumar'

In [56]:
A + " " + B

'Anil Lava Kumar'

## Length

len( Varibale Name ) -- > Length function is used find the length of the string or other data types

In [58]:
len(A)

4

## Find 

varibale name.find( character ) -- > this function is used to find the index of character in string

In [64]:
A.find("i")

2

## Count 

varibale name.count( character ) -- > this function is used to count the number of character occurs in string

In [65]:
A.count("A")

1

In [67]:
B.count("a")

3

## Split

varibale name.split( " " ) -- > this function is used to split the words as per the user requirements

In [71]:
A = "My name is anil"

In [72]:
A.split(" ")

['My', 'name', 'is', 'anil']

In [73]:
A.split("a")

['My n', 'me is ', 'nil']

## UpperCase and LowerCase

This function is used to convert uppercase to lowercase and lowercase to uppercase

In [79]:
A.upper()

'MY NAME IS ANIL'

In [80]:
A.lower()

'my name is anil'

## Title

This function is used to do first character as uppercase in sentence

In [ ]:
A = "my name is anil"

In [81]:
A.title()

'My Name Is Anil'

## Join 

it's used to join one each variable character to another variable

In [84]:
A = "Anil"
B = "Kumar"
B.join(A)

'AKumarnKumariKumarl'

## Strip

Strip method is used to remove the whitespace from left and right side of the sentence and we can also remove right side and left side strip by using below 2 methods

* lstrip
* rstrip

In [86]:
A = " my name is anil "

In [87]:
A.strip()

'my name is anil'

### Right Strip

In [88]:
A.rstrip()

' my name is anil'

### Left Strip

In [89]:
A.lstrip()

'my name is anil '

**Some other usefull functions**

* V.isupper()
* V.islower()
* V.isdigit()
* V.endswith()
* V.startswith()
* V.istitle()

**--------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

<h2><center>Advance Data Types</center></h2>

Python Collections (Arrays) :-> It's used to store multiple items at a time 

There are four collection data types in the Python programming language:

* List 
* Tuple 
* Set 
* Dictionary

## List

* it is a collection which is ordered 
* it is changeable
* Allows duplicate members.
* It Support all data types


### Syntax

            Variable Name = [ "Anil",123,True]

In [121]:
Employee = ["Anil","Kumar",973383]

### There is some function's in List

### * Append () 

This function is used to add the element to the list at the end of the index

In [94]:
Employee.append("Shivamogga")

In [95]:
Employee

['Anil', 'Kumar', 973383, 'Shivamogga']

### * Pop ()

This function is used to Remove the element to the list at the end of the index

In [102]:
Employee.pop()

973383

In [103]:
Employee

['Anil', 'Kumar']

This function is also used to Remove the element to the list as per the index

In [104]:
Employee.pop(1)

'Kumar'

In [105]:
Employee

['Anil']

### Remove ()

This function is used to remove the element on the basis of Value in the list

In [125]:
Employee.remove("Anil")

In [126]:
Employee

['Kumar', 973383]

### * Insert ()

This function is used to Insert the element to the list as per the index

In [107]:
Employee.insert(1,"L")

In [108]:
Employee

['Anil', 'L', 'Kumar', 973383]

### * Extend ()

This function is used to Concanenate the element to the list and also used to add multiple elements at time through using List

In [111]:
Employee.extend(['varun','kiran'])

In [112]:
Employee

['Anil', 'Kumar', 973383, 'varun', 'kiran']

**Difference between Extend and Append**

In [115]:
Employee.append(['varun','kiran'])

In [116]:
Employee

['Anil', 'Kumar', 973383, ['varun', 'kiran']]

Append will create nested list but extend won't create nested list

### Updation in List

In [118]:
Employee[1] = "L"

In [119]:
Employee

['Anil', 'L', 973383]

### Slicing in List

we can access the elements from one to another using slice concept

In [137]:
Employee

[123, 354, 'hello', 'car', 'bike', 23]

In [138]:
Employee[1:4]

[354, 'hello', 'car']

**--------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

## Tuple

* It is a collection which is ordered
* It is unchangeable
* It Allows duplicate members
* It is Fixed size
* There modification or adding element after creation tuple

### Syntax

            Variable Name = ( "Anil",123,True )

In [182]:
Employee = ("Anil",'sunil','varun',1,2,3,4,2,"varun")

### There is some function's in tuple

### *  Count ()

It counts the elements in tuple

In [183]:
Employee.count(3)

1

In [184]:
Employee.count('varun')

2

### * Index ()

We can fech the index value on the basis of value

In [185]:
Employee.index('Anil')

0

In [186]:
Employee.index('varun')

2

* We can access element on basis of index

In [187]:
Employee[1]

'sunil'

### Slicing in Tuple

we can access the elements from one point to another point using slice concept

In [151]:
Employee[1:3]

('sunil', 'varun')

**--------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

## Set
* It is a collection which is unordered
* It is immutable
* It is unindexed
* It doesn't allow duplicate members.

### Syntax

            Variable Name = { "Anil",123,True }

In [188]:
Employee = { "Anil",'sunil','varun',1,2,3,4,2,"varun" }

In [189]:
Employee

{1, 2, 3, 4, 'Anil', 'sunil', 'varun'}

### There is some function's in Set

### * Add()

This function is used to store single element into the set

In [190]:
Employee.add("pavan")

In [191]:
Employee

{1, 2, 3, 4, 'Anil', 'pavan', 'sunil', 'varun'}

### * Update ()

This method is used to insert multiple elements into the set

In [192]:
Employee.update([12,34,55])

In [193]:
Employee

{1, 12, 2, 3, 34, 4, 55, 'Anil', 'pavan', 'sunil', 'varun'}

* in below code it will execute but it consider single character to add in set

In [194]:
Employee.update("ka","ch")

In [195]:
Employee

{1, 12, 2, 3, 34, 4, 55, 'Anil', 'a', 'c', 'h', 'k', 'pavan', 'sunil', 'varun'}

### * Remove ()

Removing the element from the set on basis of value

In [196]:
Employee.remove('a')

In [197]:
Employee

{1, 12, 2, 3, 34, 4, 55, 'Anil', 'c', 'h', 'k', 'pavan', 'sunil', 'varun'}

In [199]:
Employee.remove("bb")

KeyError: 'bb'

* It will show some error if the value does'nt exit in set soo we use the "Discard" function

### * Discard ()

It is also same as remove but it's doesn't show error if they value doesn't exit in set

In [200]:
Employee.discard("ss")

In [201]:
Employee.discard("Anil")

In [202]:
Employee

{1, 12, 2, 3, 34, 4, 55, 'c', 'k', 'pavan', 'sunil', 'varun'}

### * Pop ()

This function is used to delete the last element in set but this pop function doesn't support index value

In [203]:
Employee.pop()

'varun'

In [206]:
Employee

{1, 12, 2, 3, 34, 4, 55, 'c', 'k', 'pavan', 'sunil'}

**Some other built in function in Set**

* Union
* Difference
* Symmetric_difference
* Intersection

***--------------------------------------------------------------------------------------------------------------------------------------------------------------------------***

## Dictionary 
* It is a collection which is ordered
* It's work basis on Key and Value
* It is changeable. 
* It doesn't allow duplicate keys but allows duplicate values.

### Syntax

            Variable Name = { Name: "Anil",Phone : 123, Student : True }

In [225]:
Employee = {'Name' : "Anil", "Age" : 23 , "Sex" : "Male"}

In [209]:
Employee

{'Name': 'Anil', 'Age': 23, 'Sex': 'Male'}

### There is some function's in Dictionary

### * Items ()

we can see the elements as under the list in dictionary

In [210]:
Employee.items()

dict_items([('Name', 'Anil'), ('Age', 23), ('Sex', 'Male')])

### * Keys()

This function is used to extract the all keys

In [214]:
Employee.keys()

dict_keys(['Name', 'Age', 'Sex'])

### * Values()

It is used to extract the values from the dict

In [217]:
Employee.values()

dict_values(['Anil', 23, 'Male'])

### * Get()

We can get the values on the basis of Key

In [218]:
Employee.get("Name")

'Anil'

### * Pop()

This function is used to remove the element on specified key

In [221]:
Employee.pop('Sex')

'Male'

In [222]:
Employee

{'Name': 'Anil', 'Age': 23}

### * PopItem()

This function is used to remove the last element in the dictionary

In [223]:
Employee.popitem()

('Age', 23)

In [224]:
Employee

{'Name': 'Anil'}

### * Adding Extra element to the Dictionary

there is function to insert element we have to perform manualy

In [226]:
Employee['Phone'] = 9882929322

In [227]:
Employee

{'Name': 'Anil', 'Age': 23, 'Sex': 'Male', 'Phone': 9882929322}

### * Update

this function is used to create update but if the key doesn't exit it will be create new

In [228]:
Employee['Name'] = 'Sunil'

In [229]:
Employee

{'Name': 'Sunil', 'Age': 23, 'Sex': 'Male', 'Phone': 9882929322}

***--------------------------------------------------------------------------------------------------------------------------------------------------------------------------***

## " If Else " condition

This techniques we used to perfrom some logicl operation in real world

Syntax : 

            if condition :
                True
             else :
                 False

#### Exmaple 1

In [232]:
if 10 > 9 :
    print("Yes, It's True")
else :
    print("No, It's False")

Yes, It's True

#### Exmaple 2

In [233]:
if 10 > 15 :
    print("Yes, It's True")
else :
    print("No, It's False")

No, It's False

## " If elif " Condition

In [239]:
if 10 > 16 :
    print("Yes, It's True")
elif 10 > 5 :
    print("Yes, It's True")
else :
    print(" Noo, Bye ")

Yes, It's True

In [240]:
if 10 > 16 :
    print("Yes, It's True")
elif 10 > 15 :
    print("Yes, It's True")
else :
    print(" Noo, Bye ")

 Noo, Bye

**--------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

## Looping Condition

Accessing data from the array one by by or interatiing the data until condition false,


### For Loop

Syntax :

            For VariableName in Data:
                 user requirement

In [243]:
data = [10,20,30,40,50]
for i in data:
    print(i)

10
20
30
40
50

### For Else Loop

Syntax : 

            for varibalename in data:
                    body
            else :
                    body

In [245]:
for i in data:
    print(i)
else :
    print("Completed")

10
20
30
40
50
Completed

### While Loop

Syntax :
    
                while condition :
                    body

In [249]:
i = 0
while data[i] < 30:
    print(data[i])
    i = i+1

10
20

### Break & Continue


* Break is a keyword is used to terminate executetion from the current loop

* Continue is a keyword is used to execute the statement if the condition is false from the loop

In [250]:
for i in data:
    if i < 30 :
        print(i)
        break     ## the code cannot go back to iterate the values in loop

10

In [251]:
for i in data:
    if i > 30 :
        print(i)
        continue     ## the code can go back to iterate the values in loop

40
50

### Range 


this keyword can help to give the number without entering

In [256]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [257]:
list(range(1,10,2))  # Start Stop Jump

[1, 3, 5, 7, 9]

In [259]:
for i in range(5):
    print(i)

0
1
2
3
4

## Functions

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

#### Syntax :

             def functionName(parameters):
                 body

In [265]:
def name(firstname,lastname):
    print(firstname+" "+lastname)

**Calling function with function name**

In [266]:
name("anil","kumar")

anil kumar

**Number of parameter use in function**

In [270]:
def name(*sudh):
    return sudh

In [271]:
name("a","b")

('a', 'b')

## Lambda Function

* The function doesn't have name with efficient code is called lambda function
* A lambda function can take any number of arguments, but can only have one expression.

In [274]:
A = lambda i : i

In [275]:
A(1)

1

In [276]:
B = lambda a,b : a * b

In [277]:
B(10,20)

200

## Comprehension

### Syntax:

            newlist = [expression for item in iterable if condition == True]

In [281]:
Fruits = ['apple','orange','banana','graphes','pineapple']

In [284]:
F = [i for i in Fruits if "p" in i]

In [285]:
F

['apple', 'graphes', 'pineapple']

## Interator
* An iterator is an object that contains a countable number of values.

In [286]:
mytuple = ("apple", "banana", "cherry")  # it is iterable now
myit = iter(mytuple)    # it is converted into interator

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry